body{

    background-color: gray;
}

.content{
    text-align: center;
    
}
.content button,input,textarea{
    margin: 5px;
    width: 250px;
    height: 50px;
    font-size: 40px;
    font-family: Impact;
}


